@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Poppins:ital,wght@0,200;0,400;0,800;1,400&display=swap');  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
body {
  padding-top: 75px; /* adjust as necessary nalang */
  background-color: black;
}
header.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #141514;
  box-shadow: 0 4px 30px rgb(255 178 102 / 12);
  padding: 10px 10%;
  transition: 0.2s;
}
img{
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #141514;
    box-shadow: 0 4px 30px rgb(255 178 102 / 12);
    padding: 10px 10% ;
    transition: 0.2s;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 30px;
}
.nav{
    display: flex;
}
.nav a{
    font-size: 1rem;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
}
.nav a:hover{
    color:#CBA34B   
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
.check{
    background-color: black;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%;
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%;
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%;
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: rgba(0, 0, 0, 0.8); /* Change to transparent black */
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    color: white; /* Text color */
  }
  
  input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f2f2f2; /* Background color for text input */
    color: #333; /* Text color for text input */
  }
  
  .label {
    margin-bottom: 10px;
    display: block;
    color: white; /* Text color for labels */
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
    color: white; /* Icon color */
  }
  
  .btn {
    padding: 12px;
    margin: 10px 0;
    border: 2px Solid  #CBA34B;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #CBA34B;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  